/* Navbar.css */

.navbar {
    
    height: 80px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(92,223,229);
    background: linear-gradient(90deg, rgba(92,223,229,1) 0%, rgba(0,74,173,1) 100%); /* Adjust the transparency as needed */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  }
  
  .logo {
    width: 100px;
    height: 80px;
    padding: 5px;
    border-radius: 150px;
  }
  
  .navbar-brand {
    font: size 1.2rem;;
    color: #000; /* Adjust the color as needed */
    text-decoration: none;
  }
  
  .navbar-brand:hover {
    color: #007bff; /* Change the color on hover */
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 15px;
    font-size: 20px;
  }
  
  .nav-link {
    font-size: 1rem;
    color: #000; /* Adjust the color as needed */
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #007bff; /* Change the color on hover */
  }